* {
    margin: 5px;
    padding: 5px;
}
  
.D1 {
    background-color: #FFBB77;
    border: 2px solid black;
    width: 880px;
    position: absolute;
    left: 20%;
}

.D2 {
    width: 425px;
    float: left;
    box-shadow: 1em 1em 5px gray;
}
.img1 {
    width: 400px;
    float: left;
    height: 320px;
}

.img2 {
    width: 24px;
    float: left;
}

.img3 {
    width: 30px;
    float: left;
}
.img4 {
    width: 200px;
    float: left;
}

h1 {
    color: #6FB7B7;
    font-size: 30px;
    text-shadow: 5px 5px 5px gray ;
}

h2 {
    color: #6FB7B7;
    font-size: 24px;
}

p {
    font-size: 14px;
}

