.list1 {
    list-style-type: circle;
    border: 16px  double aquamarine;
    border-radius: 30px 10px 30px 10px;
}

.list2 {
    list-style-type: none;
    list-style-image: url("image/explosion .png")
}

.in {
    background-color: aquamarine;
    list-style-position: inside
}

.out {
    background-color: aquamarine;
    list-style-position: outside /*預設值*/
}
