h1 {
    font-family: 標楷體;
    color: #FFD1A4;
    font-size: 64px
}
.st {
    font-family: 標楷體;
    color: red;
    font-size: 64px
}
#ch1 {
    font-family: 標楷體;
    color: green;
    font-size: 64px
}
